body {
	height: 100vh;
	margin: 0;
}

.top-bar {
	background-color: blanchedalmond;
	position: fixed;
	width: 100%;
	transition: all 0.3s ease !important;
}

.cl-web-header {
	background-color: yellow;
	position: fixed;
	width: 100%;
	transition: all 0.3s ease !important;
}

.top-bar.slide-up {
	transform: translateY(-100%);
	transition: all 0.3s ease !important;
}

.cl-web-header.she-header {
	transition: all 0.3s ease !important;
}

.container {
	padding: 5rem;
	background-color: red;
	height: 100vh;
	padding-top: 16rem;
}

#output {
	padding: 1rem 0;
	color: black;
}
